*,
*:before,
*:after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

:not(html):not(body)::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
:not(html):not(body)::-webkit-scrollbar-track {
  background: transparent;
}
:not(html):not(body)::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsla(0, 0%, 54.9%, 0.3);
}
:not(html):not(body)::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 54.9%, 0.5);
}

//菜单
.layout-slider{
  background-color: blue;
   .el-menu-item{
    a{color:$mainFontColor}
   }
  .el-menu-item:hover{ 
      background: $menuActiveColor;
      //color:$mainFontColorHover
    //background-color: $menuActiveColor;
    a{
      color:$mainFontColorHover
      
    }
    
  }
}

