*,
*:before,
*:after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}
body{
  h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    font-weight: normal;
  }
}

:not(html):not(body)::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
:not(html):not(body)::-webkit-scrollbar-track {
  background: transparent;
}
:not(html):not(body)::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: hsla(0, 0%, 54.9%, 0.3);
}
:not(html):not(body)::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 54.9%, 0.5);
}

//菜单
.layout-slider{
  background-color: $menuBg;
  .el-menu{
    background-color: $menuBg;
    .el-sub-menu__title i{
      color: #c2c2c2;
    }
  }
   .el-menu-item,.el-sub-menu__title{
    a{color:$mainFontColor}
    i{ color: #c2c2c2 !important;}
   }

   //有子菜单的情况
   .el-sub-menu{
    .el-menu{ //子菜单bg固定使用选中的颜色
      background:$menuBgActiveColor 
    }
    &.is-active{//激活状态下
      .el-sub-menu__title{//父节点的文字激活颜色
        a{
          color:$menuActiveColor
        }
      }
      .el-menu-item.is-active{//子节点的文字激活颜色
        a{
         color:$menuActiveChildColor
        }
      }
     }
   }

   //无子菜单的情况
   .el-menu-item.is-active{//节点激活颜色
      a{
        color:$menuActiveColor
      }
   }

   
  .el-menu-item:hover,.el-sub-menu__title:hover{ 
      background: $menuBgActiveColor;
    a{
      color:$mainFontColorHover
    }
    
  }
}

