@mixin clearfix($bg,$shadowColor,$borderColor) {
    background: $bg;
    box-shadow: inset 0px 0px 15px 0px $shadowColor;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    border: 1px solid $borderColor;
  }
@mixin contentCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
/**菜单样式**/
$menuBg:#002B49;
$menuBgActiveColor: #042338;
$mainFontColorHover:rgb(255,255,255);
$mainFontColor:#c2c2c2;
$menuActiveColor:#ffd04b;
$menuActiveChildColor:#e3c46c;




@function setRem($px){
 @return calc($px / 37.5)*1rem
}

$device-width:375;

@function setVw($px){
  @return calc($px/($device-width/100vw))
}

$grid-width: 40px;
$gutter-width: 10px;

@function grid-width($n) {
  @return $n * $grid-width + ($n - 1) * $gutter-width;
}